.login-form {
  width: 20rem;
  margin: 6.25rem auto;
  padding: 2rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.08);
  background-color: #fff;
  text-align: center;
}

.login-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.login-input {
  width: 91%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border-radius: 0.375rem;
  border: 0.0625rem solid #ddd;
  font-size: 1rem;
}

.login-error {
  color: red;
  margin-top: 0.75rem;
  font-size: 0.875rem;
}
